#root {
  margin: 0 auto;
  text-align: center;
}

.container {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  max-width: 475px;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card {
  margin: 20px auto;
  line-height: 1.1;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
  color: hsl(30, 10%, 34%);
  background-color: hsl(330, 100%, 98%);
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.section {
  color: hsl(14, 45%, 36%);
  text-align: left;
}

h1 {
  font-family: "Young Serif";
  font-style: normal;
  color: hsl(24, 5%, 18%);
  line-height: 1.1;
}
h2 {
  font-family: "Young Serif";
  font-style: normal;
  color: hsl(14, 45%, 36%);
}
h3 {
  color: hsl(332, 51%, 32%);
}

li {
  color: hsl(14, 45%, 36%);
}
li b {
  font-weight: 700;
  font-style: normal;
}
li p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: hsl(30, 10%, 34%);
  margin-left: 1em;
}

p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: hsl(30, 10%, 34%);
}

hr {
  border-top: 1px solid hsl(30, 18%, 87%);
}

.row {
  clear: both;
}
.column {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  float: left;
}
#value {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: hsl(30, 10%, 34%);
}
#per-serving {
  font-weight: 700;
  color: hsl(14, 45%, 36%);
}

body {
  background-color: hsl(0, 0%, 100%);
}

#containedWidth {
  display: none;
}
img {
  display: flex;
  width: 100%;
  height: auto;
  will-change: filter;
  transition: filter 300ms;
}
img:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media screen and (min-width: 475px) {
  #root {
    padding: 2rem;
  }
  body {
    background-color: hsl(30, 54%, 90%);
  }
  .container {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    max-width: 750px;
    margin: 100px auto;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #fullWidth {
    display: none;
  }
  #containedWidth {
    display: flex;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .banner:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: hsl(30, 54%, 90%);
  }
}
